.item {
display: flex;
margin: 0px;
padding: 0px;
list-style: none;
background-color: white;
width: 600px;
height: 150px;
margin-bottom: 50px

};
.status {
margin: 0px;
padding: 0px;
list-style: inherit;
};
li > img {
display: block;
list-style: unset;
};

.item .name {
display: flex;
justify-content: center;
} 
li > p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.name {
display: flex;
align-items: center;
margin: 0px;
display: block;
text-align: center;


};